### Movie Data Analysis

The dataset has 3 columns: User, Movie and Rating.

In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [3]:
movies = pd.read_csv("data.txt")
movies

      User          Movie Rating
0    Alice      Star Wars      5
1    Frank  The Godfather      4
2      Bob        Titanic      5
3    Carol     The Matrix      3
4     Dave      Inception      2
5    Emily   Pulp Fiction      4
6   Quincy      Star Wars      5
7      Bob      Star Wars      2
8    Frank   Forrest Gump      3
9    Alice     The Matrix      4
10    Paul        Titanic      4
11   Carol      Inception      5
12    Dave        Titanic      4
13   Emily  The Godfather      5
14   Alice      Inception      3
15    Paul  The Godfather      5
16   Carol   Pulp Fiction      4
17     Ivy      Star Wars      5
18   Emily   Forrest Gump      3
19  Quincy     The Matrix      4
20     Ivy     The Matrix      4
21    Paul      Inception      1
22     Bob  The Godfather      4
23   Frank      Star Wars      5
24     Ivy      Inception      3
25    Dave   Forrest Gump      5
26  Quincy      Inception      3
27   Karen     The Matrix      3
28     Leo        Titanic      4
29     Mia  The Godfather      5
30    Nina      Star Wars      5
31   Oscar     The Matrix      4
32   Sarah      Star Wars     5x
33     Tom   Pulp Fiction   Five
34   Karen      Inception      5
35     Leo      Inception      2
36     Mia   Pulp Fiction      4
37    Nina  The Godfather      4
38   Oscar   Pulp Fiction      2
39   Sarah      Inception      4
40     Tom      Inception    NaN
41  Victor  The Godfather    NaN
42   Wendy   Pulp Fiction      4
43    Zane   Pulp Fiction    3.5
44     Uma        Titanic      5
45  Victor         Matrix      x
46   Wendy     The Matrix    3.5
47  Xander   Forrest Gump      5
48    Yara      Inception     5y
49    Zane   Forrest Gump    3.5
50     Uma      Star Wars     2?
51    Yara     The Matrix    NaN
52   Karen   Pulp Fiction      4
53     Leo   Forrest Gump      5
54     Mia   Forrest Gump      3
55    Nina   Forrest Gump      3
56   Oscar   Forrest Gump      5
57    Zane      Star Wars      4

### Data types for columns

In [4]:
movies.dtypes

User      object
Movie     object
Rating    object
dtype: object

In [17]:
user_data = pd.DataFrame(movies.groupby(["User", "Movie"])["Rating"].first())
user_data

                     Rating
User   Movie
Alice  Inception          3
       Star Wars          5
       The Matrix         4
Bob    Star Wars          2
       The Godfather      4
       Titanic            5
Carol  Inception          5
       Pulp Fiction       4
       The Matrix         3
Dave   Forrest Gump       5
       Inception          2
       Titanic            4
Emily  Forrest Gump       3
       Pulp Fiction       4
       The Godfather      5
Frank  Forrest Gump       3
       Star Wars          5
       The Godfather      4
Ivy    Inception          3
       Star Wars          5
       The Matrix         4
Karen  Inception          5
       Pulp Fiction       4
       The Matrix         3
Leo    Forrest Gump       5
       Inception          2
       Titanic            4
Mia    Forrest Gump       3
       Pulp Fiction       4
       The Godfather      5
Nina   Forrest Gump       3
       Star Wars          5
       The Godfather      4
Oscar  Forrest Gump       5
       Pulp Fiction       2
       The Matrix         4
Paul   Inception          1
       The Godfather      5
       Titanic            4
Quincy Inception          3
       Star Wars          5
       The Matrix         4
Sarah  Inception          4
       Star Wars         5x
Tom    Inception       None
       Pulp Fiction    Five
Uma    Star Wars         2?
       Titanic            5
Victor Matrix             x
       The Godfather   None
Wendy  Pulp Fiction       4
       The Matrix       3.5
Xander Forrest Gump       5
Yara   Inception         5y
       The Matrix      None
Zane   Forrest Gump     3.5
       Pulp Fiction     3.5
       Star Wars          4

### Data Cleaning
On the "Rating" column, there is inconsistency with the data, therefore we have to ensure the values are consistent.
1. We will create a new column called "Clean_Rating" with cleaned data.
2. Remove characters from "Clean_Rating" column.
3. Remove user "Victor", to remove "noise" from the data. None of his ratings are >=0.
4. Fill NaN values, convert column data type to float  and reset index.

In [18]:
movies["Clean_Rating"] = movies["Rating"].str.replace("Five", "5", regex=True)
movies["Clean_Rating"] = movies["Clean_Rating"].str.replace(r'[^0-9,.]', '', regex=True)
movies = movies[movies["User"] != "Victor"]
movies["Clean_Rating"] = movies["Clean_Rating"].fillna(0)
movies["Clean_Rating"] = movies["Clean_Rating"].astype(float)

/tmp/ipykernel_21632/209417747.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["Clean_Rating"] = movies["Clean_Rating"].fillna(0)
/tmp/ipykernel_21632/209417747.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["Clean_Rating"] = movies["Clean_Rating"].astype(float)

In [19]:
movies = movies.reset_index(drop=True)

In [20]:
movies

      User          Movie Rating  Clean_Rating
0    Alice      Star Wars      5           5.0
1    Frank  The Godfather      4           4.0
2      Bob        Titanic      5           5.0
3    Carol     The Matrix      3           3.0
4     Dave      Inception      2           2.0
5    Emily   Pulp Fiction      4           4.0
6   Quincy      Star Wars      5           5.0
7      Bob      Star Wars      2           2.0
8    Frank   Forrest Gump      3           3.0
9    Alice     The Matrix      4           4.0
10    Paul        Titanic      4           4.0
11   Carol      Inception      5           5.0
12    Dave        Titanic      4           4.0
13   Emily  The Godfather      5           5.0
14   Alice      Inception      3           3.0
15    Paul  The Godfather      5           5.0
16   Carol   Pulp Fiction      4           4.0
17     Ivy      Star Wars      5           5.0
18   Emily   Forrest Gump      3           3.0
19  Quincy     The Matrix      4           4.0
20     Ivy     The Matrix      4           4.0
21    Paul      Inception      1           1.0
22     Bob  The Godfather      4           4.0
23   Frank      Star Wars      5           5.0
24     Ivy      Inception      3           3.0
25    Dave   Forrest Gump      5           5.0
26  Quincy      Inception      3           3.0
27   Karen     The Matrix      3           3.0
28     Leo        Titanic      4           4.0
29     Mia  The Godfather      5           5.0
30    Nina      Star Wars      5           5.0
31   Oscar     The Matrix      4           4.0
32   Sarah      Star Wars     5x           5.0
33     Tom   Pulp Fiction   Five           5.0
34   Karen      Inception      5           5.0
35     Leo      Inception      2           2.0
36     Mia   Pulp Fiction      4           4.0
37    Nina  The Godfather      4           4.0
38   Oscar   Pulp Fiction      2           2.0
39   Sarah      Inception      4           4.0
40     Tom      Inception    NaN           0.0
41   Wendy   Pulp Fiction      4           4.0
42    Zane   Pulp Fiction    3.5           3.5
43     Uma        Titanic      5           5.0
44   Wendy     The Matrix    3.5           3.5
45  Xander   Forrest Gump      5           5.0
46    Yara      Inception     5y           5.0
47    Zane   Forrest Gump    3.5           3.5
48     Uma      Star Wars     2?           2.0
49    Yara     The Matrix    NaN           0.0
50   Karen   Pulp Fiction      4           4.0
51     Leo   Forrest Gump      5           5.0
52     Mia   Forrest Gump      3           3.0
53    Nina   Forrest Gump      3           3.0
54   Oscar   Forrest Gump      5           5.0
55    Zane      Star Wars      4           4.0

### Create a search algorithm for movies and users

In [34]:
vectorizer = TfidfVectorizer(ngram_range=(1,2))
tfidf = vectorizer.fit_transform(movies["Movie"])

In [35]:
def search_movie(title):
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec, tfidf).flatten()
    indices = np.argpartition(similarity, -5)[-5:]
    movie_results = movies.iloc[indices][::-1]
    return movie_results

In [36]:
search_movie("star wars")

      User      Movie Rating  Clean_Rating
55    Zane  Star Wars      4           4.0
23   Frank  Star Wars      5           5.0
30    Nina  Star Wars      5           5.0
32   Sarah  Star Wars     5x           5.0
6   Quincy  Star Wars      5           5.0

In [49]:
vectorizer2 = TfidfVectorizer(ngram_range=(1,2))
tfidf2 = vectorizer2.fit_transform(movies["User"])

In [50]:
def search_user(user):
    query_vec2 = vectorizer2.transform([user])
    similarity = cosine_similarity(query_vec2, tfidf2).flatten()
    indices = np.argpartition(similarity, -5)[-10:]
    user_results = movies.iloc[indices][::-1]
    return user_results

In [51]:
search_user("zane")

      User          Movie Rating  Clean_Rating
55    Zane      Star Wars      4           4.0
47    Zane   Forrest Gump    3.5           3.5
42    Zane   Pulp Fiction    3.5           3.5
22     Bob  The Godfather      4           4.0
17     Ivy      Star Wars      5           5.0
18   Emily   Forrest Gump      3           3.0
16   Carol   Pulp Fiction      4           4.0
15    Paul  The Godfather      5           5.0
23   Frank      Star Wars      5           5.0
19  Quincy     The Matrix      4           4.0

In [27]:
def user_recommended_movies(user):
    # user_2 = "Frank
    user_watching = movies[(movies["User"] == user) & (movies["Clean_Rating"] >= 3)]
    ## Similar users with ratings over 3 for same movies user likes
    users_watching_similar_movies = movies[(movies["Movie"].isin(user_watching["Movie"])) & (movies["Clean_Rating"] >= 3)]
    # ## We have to find other movies these users have liked that have ratings of >= 3
    similar_user_recs = movies[(movies["User"].isin(users_watching_similar_movies["User"])) & (movies["Clean_Rating"] >= 3)][["Movie", "User"]]
    user_recs = similar_user_recs[(similar_user_recs["User"] != user)]["Movie"].unique()
    # similar_user_recs
    user_recs_df = pd.DataFrame(user_recs.tolist(), columns=["'s Recommended Movies"])
    user_recs_df = user_recs_df.add_prefix(user)
    
    return user_recs_df

In [28]:
user_recommended_movies("Zane")

  Zane's Recommended Movies
0                 Star Wars
1             The Godfather
2                The Matrix
3              Pulp Fiction
4              Forrest Gump
5                 Inception
6                   Titanic

In [41]:
def find_similar_movies(movie):
    #Finding recommendations from similar users
    similar_users = movies[(movies["Movie"] == movie) & (movies["Clean_Rating"] >= 3)]["User"].unique()
    similar_user_recs = movies[(movies["User"].isin(similar_users)) & (movies["Clean_Rating"] >= 3)]["Movie"]
    
    #Only 10% of users
    similar_user_recs = similar_user_recs.value_counts() / len(similar_users)
    similar_user_recs = similar_user_recs[similar_user_recs > .10]
    
    movie_recs_df = pd.DataFrame(similar_user_recs)
    movie_recs_df = movie_recs_df.drop(columns="count")
    movie_recs_df.reset_index(inplace=True)
    movie_recs_df = movie_recs_df.rename(columns = {'Movie':'Movies similar to '})
    movie_recs_df = movie_recs_df.add_suffix(movie)
    
    return movie_recs_df[1:]

In [42]:
find_similar_movies("The Godfather")

  Movies similar to The Godfather
1                    Forrest Gump
2                         Titanic
3                    Pulp Fiction
4                       Star Wars

In [38]:
import ipywidgets as widgets
from IPython.display import display

movie_input_name = widgets.Text(
    value="Toy Story",
    description="Movie Title:",
    disabled=False
)

recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            results = search_movie(title)
            movie = results.iloc[0]["Movie"]
            display(find_similar_movies(movie))

movie_input_name.observe(on_type, names="value")

display(movie_input_name, recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()

In [52]:
user_input_name = widgets.Text(
    value="User Name",
    description="Name of User:",
    disabled=False
)

recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        user = data["new"]
        if len(user) > 2:
            results = search_user(user)
            user = results.iloc[0]["User"]
            display(user_recommended_movies(user))

user_input_name.observe(on_type, names="value")

display(user_input_name, recommendation_list)

Text(value='User Name', description='Name of User:')

Output()